<!-- les onglets - liste des catégories -->
<div id="tabs">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" *ngFor="let category of categories"
      [routerLink]="['/category', category.name]" class="nav-link active cursor-pointer">
        {{ category.name }}
    </li>
  </ul>
</div>

<!-- Listing des produits -->
<section class="my-5">
  <div class="container">
    <div class="row">
      fdfdfd

      <div class="col-6" *ngFor="let item of itemsList">
        dsdsds

        {{ item.quantity}}

      </div>

    </div>
  </div>
</section>
