<!-- les onglets - liste des catégories -->
<div id="tabs">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" *ngFor="let category of categories"
      [routerLink]="['/category', category.name]" class="nav-link active cursor-pointer">
        {{ category.name }}
    </li>
  </ul>
</div>

<!-- Listing des produits -->
<section class="my-5">
  <div class="container">
    <div class="row">

      <div class="col-6" *ngFor="let product of filteredProducts">

        <!-- encart produit -->
        <app-product-card [product]="product" (addedProduct)="addProduct($event, 1)"></app-product-card>

      </div>

    </div>
  </div>
</section>
