<div id="tabs">
  <div>
    <a *ngFor="let categoryName of categories"
    [routerLink]="['/category', categoryName]">
    {{ categoryName }}
    </a>
  </div>
<div>


<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-4" *ngFor="let product of filteredProducts">
        <div class="dflex">
          <div><span>Nom</span> {{ product.name }}</div>
          <div><img class="img-thumbnail" src="{{ product.image }}"></div>
          <div><span>Price</span> {{ product.price }}</div>
          <div><span>TVA</span> {{ product.price }}</div>
          <div><span>catégorie</span> {{ product.category }}</div>
        </div>
      </div>

    </div>
  </div>
</section>
