<div class="product border border-secondary rounded p-1 my-2">
  <div class="main">
    <div class="d-flex">
      <div>
         <img class="img-fluid" src="{{ product.image }}" alt="" />
      </div>
      <div class="px-2">
        <h1 class="">{{ product.name }}</h1>
        <h2 class="badge badge-success">En stock</h2>
        <h3 class="">{{ product.price }} €</h3>
        <p>
          <span class="fa fa-star yellow"></span>
          <span class="fa fa-star yellow"></span>
          <span class="fa fa-star yellow"></span>
          <span class="fa fa-star yellow"></span>
          <span class="fa fa-star"></span>
          <span>(4,5 - 172 Commentaires)</span>
        </p>
        <div class="">
          <div class="text-right">
           <button class="btn btn-lg btn-warning p-2 mb-1 cursor-pointer" (click)="onClickAddProduct(product)">Ajouter au panier</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
